{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://api.poderp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/openapi/order": {
      "post": {
        "description": "Creates a new order via OpenAPI",
        "requestBody": {
          "description": "Order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenAPIOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully. No content returned.",
            "content": {}
          },
          "400": {
            "description": "Invalid input or unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Plant": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "name": {
            "description": "The name of the plant",
            "type": "string"
          },
          "tag": {
            "description": "Tag to specify the type",
            "type": "string"
          }
        }
      },
      "NewPlant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Plant"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the plant",
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateOpenAPIOrderItemProductRequest": {
        "type": "object",
        "required": [
          "spu",
          "size",
          "color",
          "quantity"
        ],
        "properties": {
          "spu": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "size": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "color": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "CreateOpenAPIOrderItemRecipientInfoRequest": {
        "type": "object",
        "required": [
          "receiverName",
          "country",
          "state",
          "city",
          "postcode",
          "address1",
          "phone"
        ],
        "properties": {
          "receiverName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2",
            "minLength": 1,
            "maxLength": 150
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "postcode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "address1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "remark": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300,
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          }
        }
      },
      "CreateOpenAPIOrderItemRequest": {
        "type": "object",
        "required": [
          "orderNo",
          "recipient",
          "product"
        ],
        "properties": {
          "orderNo": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "url"
            },
            "default": []
          },
          "recipient": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemRecipientInfoRequest"
          },
          "product": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemProductRequest"
          }
        }
      },
      "CreateOpenAPIOrderRequest": {
        "type": "object",
        "required": [
          "uniqueRequestId",
          "orderItems"
        ],
        "properties": {
          "uniqueRequestId": {
            "type": "string"
          },
          "orderItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOpenAPIOrderItemRequest"
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}