{
  "openapi": "3.1.0",
  "info": {
    "title": "Pod ERP OpenAPI",
    "description": "Pod ERP Open API for order management",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.platform.poderp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/openapi/order": {
      "post": {
        "summary": "Create Orders",
        "description": "Creates a new order via OpenAPI. After successful creation, the system will automatically trigger supplier matching and downstream processing.",
        "requestBody": {
          "description": "Order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenAPIOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully. No content returned.",
            "content": {}
          },
          "400": {
            "description": "Invalid input or unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/waybills": {
      "get": {
        "summary": "Query Waybills",
        "description": "Query waybill tracking numbers and shipping label URLs by `uniqueRequestId` or `orderNo`. At least one parameter must be provided.",
        "parameters": [
          {
            "name": "uniqueRequestId",
            "in": "query",
            "required": false,
            "description": "The unique request ID used when creating the order. Returns all waybills for that batch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderNo",
            "in": "query",
            "required": false,
            "description": "The customer order number (the `orderNo` passed in each order item when creating the order). Returns waybills associated with that specific order.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of waybill information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueryWaybillResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Neither uniqueRequestId nor orderNo was provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateOpenAPIOrderItemProductRequest": {
        "type": "object",
        "required": [
          "spu",
          "size",
          "color",
          "quantity"
        ],
        "properties": {
          "spu": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "size": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "color": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "quantity": {
            "type": "integer"
          }
        }
      },
      "CreateOpenAPIOrderItemRecipientInfoRequest": {
        "type": "object",
        "required": [
          "receiverName",
          "country",
          "state",
          "city",
          "postcode",
          "address1",
          "phone"
        ],
        "properties": {
          "receiverName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2",
            "minLength": 1,
            "maxLength": 150
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "postcode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "address1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "remark": {
            "type": "string",
            "minLength": 1,
            "maxLength": 300,
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          }
        }
      },
      "CreateOpenAPIOrderItemRequest": {
        "type": "object",
        "required": [
          "orderNo",
          "recipient",
          "product"
        ],
        "properties": {
          "orderNo": {
            "type": "string",
            "description": "Customer order number, used later to query waybills",
            "minLength": 6,
            "maxLength": 50
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "url"
            },
            "default": []
          },
          "recipient": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemRecipientInfoRequest"
          },
          "product": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemProductRequest"
          }
        }
      },
      "CreateOpenAPIOrderRequest": {
        "type": "object",
        "required": [
          "uniqueRequestId",
          "orderItems"
        ],
        "properties": {
          "uniqueRequestId": {
            "type": "string",
            "description": "Unique identifier for this order batch, used for deduplication and later querying waybills"
          },
          "orderItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOpenAPIOrderItemRequest"
            }
          }
        }
      },
      "QueryWaybillResponse": {
        "type": "object",
        "properties": {
          "customerOrderNo": {
            "type": "string",
            "description": "The customer order number"
          },
          "waybillNo": {
            "type": "string",
            "nullable": true,
            "description": "Waybill tracking number"
          },
          "trackingNumber": {
            "type": "string",
            "nullable": true,
            "description": "Last-mile delivery tracking number"
          },
          "labelUrl": {
            "type": "string",
            "nullable": true,
            "description": "Shipping label URL"
          },
          "status": {
            "type": "string",
            "description": "Waybill status (CREATED, PENDING, COMPLETED, FAILED, CANCELLED, INTERCEPTED)"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}