{
  "openapi": "3.1.0",
  "info": {
    "title": "Pod ERP OpenAPI",
    "description": "Pod ERP Open API for order management",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.platform.poderp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/openapi/products": {
      "get": {
        "summary": "List Products",
        "description": "Returns all products (SPUs) available to the authenticated customer, including their variants (SKUs).",
        "responses": {
          "200": {
            "description": "List of available products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/products/{spuCode}/variants": {
      "get": {
        "summary": "List Variants",
        "description": "Returns all variants (SKUs) for a specific product. Use the `skuCode` from the response when creating orders.",
        "parameters": [
          {
            "name": "spuCode",
            "in": "path",
            "required": true,
            "description": "The product SPU code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of variants for the product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VariantResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/order": {
      "post": {
        "summary": "Create Orders",
        "description": "Creates a new order. You can specify products by `sku` code (recommended) or by `spu` + `size` + `color`.",
        "requestBody": {
          "description": "Order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenAPIOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully. No content returned.",
            "content": {}
          },
          "400": {
            "description": "Invalid input or unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/waybills": {
      "get": {
        "summary": "Query Waybills",
        "description": "Query waybill tracking numbers and shipping label URLs by `uniqueRequestId` or `orderNo`. At least one parameter must be provided.",
        "parameters": [
          {
            "name": "uniqueRequestId",
            "in": "query",
            "required": false,
            "description": "The unique request ID used when creating the order. Returns all waybills for that batch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderNo",
            "in": "query",
            "required": false,
            "description": "The customer order number (the `orderNo` passed in each order item when creating the order). Returns waybills associated with that specific order.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of waybill information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueryWaybillResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Neither uniqueRequestId nor orderNo was provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "required": ["code", "message"],
        "type": "object",
        "properties": {
          "code": { "type": "string" },
          "message": { "type": "string" }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "spuCode": {
            "type": "string",
            "description": "Product code"
          },
          "title": {
            "type": "string",
            "description": "Product title"
          },
          "name": {
            "type": "string",
            "description": "English name"
          },
          "cnName": {
            "type": "string",
            "description": "Chinese name"
          },
          "category": {
            "type": "string",
            "description": "Product category"
          },
          "productImage": {
            "type": "string",
            "description": "Product image URL"
          },
          "sizes": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Available sizes"
          },
          "colors": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Available colors"
          },
          "variants": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/VariantResponse" },
            "description": "All SKU variants of this product"
          }
        }
      },
      "VariantResponse": {
        "type": "object",
        "properties": {
          "skuCode": {
            "type": "string",
            "description": "SKU code — use this value in the `sku` field when creating orders"
          },
          "size": {
            "type": "string",
            "description": "Variant size"
          },
          "color": {
            "type": "string",
            "description": "Variant color"
          },
          "weight": {
            "type": "number",
            "description": "Weight in kg"
          }
        }
      },
      "CreateOpenAPIOrderItemProductRequest": {
        "type": "object",
        "required": ["quantity"],
        "properties": {
          "sku": {
            "type": "string",
            "maxLength": 100,
            "description": "SKU code from the product catalog. When provided, `spu`, `size`, and `color` are not needed."
          },
          "spu": {
            "type": "string",
            "maxLength": 100,
            "description": "Product (SPU) code. Required if `sku` is not provided."
          },
          "size": {
            "type": "string",
            "maxLength": 100,
            "description": "Size. Optional when `sku` is provided."
          },
          "color": {
            "type": "string",
            "maxLength": 100,
            "description": "Color. Optional when `sku` is provided."
          },
          "quantity": {
            "type": "integer",
            "description": "Order quantity"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": { "type": "string" },
            "description": "Additional product attributes (e.g. `material`, `packaging`)"
          }
        }
      },
      "CreateOpenAPIOrderItemRecipientInfoRequest": {
        "type": "object",
        "required": ["receiverName", "country", "state", "city", "postcode", "address1", "phone"],
        "properties": {
          "receiverName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2",
            "minLength": 1,
            "maxLength": 150
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "postcode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "address1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "remark": {
            "type": "string",
            "maxLength": 300,
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          }
        }
      },
      "CreateOpenAPIOrderItemRequest": {
        "type": "object",
        "required": ["orderNo", "recipient", "product"],
        "properties": {
          "orderNo": {
            "type": "string",
            "description": "Customer order number, used later to query waybills",
            "minLength": 6,
            "maxLength": 50
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "url"
            },
            "default": []
          },
          "recipient": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemRecipientInfoRequest"
          },
          "product": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemProductRequest"
          }
        }
      },
      "CreateOpenAPIOrderRequest": {
        "type": "object",
        "required": ["uniqueRequestId", "orderItems"],
        "properties": {
          "uniqueRequestId": {
            "type": "string",
            "description": "Unique identifier for this order batch, used for deduplication and later querying waybills"
          },
          "orderItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOpenAPIOrderItemRequest"
            }
          }
        }
      },
      "QueryWaybillResponse": {
        "type": "object",
        "properties": {
          "customerOrderNo": {
            "type": "string",
            "description": "The customer order number"
          },
          "waybillNo": {
            "type": "string",
            "nullable": true,
            "description": "Waybill tracking number"
          },
          "trackingNumber": {
            "type": "string",
            "nullable": true,
            "description": "Last-mile delivery tracking number"
          },
          "labelUrl": {
            "type": "string",
            "nullable": true,
            "description": "Shipping label URL"
          },
          "status": {
            "type": "string",
            "description": "Waybill status (CREATED, PENDING, COMPLETED, FAILED, CANCELLED, INTERCEPTED)"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}