{
  "openapi": "3.1.0",
  "info": {
    "title": "Pod ERP OpenAPI",
    "description": "Pod ERP Open API for order management",
    "license": {
      "name": "MIT"
    },
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.platform.poderp.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/openapi/products": {
      "get": {
        "summary": "List Products",
        "description": "Returns all products (SPUs) available to the authenticated customer, including their variants (SKUs).",
        "responses": {
          "200": {
            "description": "List of available products",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/products/{spuCode}/variants": {
      "get": {
        "summary": "List Variants",
        "description": "Returns all variants (SKUs) for a specific product. Use the `skuCode` from the response when creating orders.",
        "parameters": [
          {
            "name": "spuCode",
            "in": "path",
            "required": true,
            "description": "The product SPU code",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of variants for the product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VariantResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/order": {
      "post": {
        "summary": "Create Orders",
        "description": "Creates a new order. You can specify products by `sku` code (recommended) or by `spu` + `size` + `color`.",
        "requestBody": {
          "description": "Order details",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenAPIOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order created successfully. No content returned.",
            "content": {}
          },
          "400": {
            "description": "Invalid input or unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "operationId": "query-order",
        "summary": "Query Order",
        "description": "Query order information",
        "parameters": [
          {
            "name": "uniqueRequestId",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Unique request ID of the order to query"
          },
          {
            "name": "orderNos",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "description": "List only of order numbers to query(comma-separated)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "required": [
                      "id",
                      "orderNo",
                      "recipient",
                      "product",
                      "shipping",
                      "status",
                      "source",
                      "remark",
                      "customerOrderNo",
                      "createdAt",
                      "updatedAt"
                    ],
                    "properties": {
                      "id": {
                        "type": "string",
                        "description": "ID of the order in the Pod ERP system"
                      },
                      "orderNo": {
                        "type": "string",
                        "description": "Order number, note that this is different from the `customerOrderNo` provided by the customer, and is used for internal tracking within the Pod ERP system"
                      },
                      "trackingNo": {
                        "type": "string",
                        "description": "Tracking number"
                      },
                      "recipient": {
                        "type": "object",
                        "required": [
                          "receiverName",
                          "country",
                          "state",
                          "city",
                          "address1",
                          "postcode",
                          "phone"
                        ],
                        "properties": {
                          "receiverName": {
                            "type": "string",
                            "description": "Recipient name"
                          },
                          "country": {
                            "type": "string",
                            "description": "Recipient country"
                          },
                          "state": {
                            "type": "string",
                            "description": "Recipient state"
                          },
                          "city": {
                            "type": "string",
                            "description": "Recipient city"
                          },
                          "address1": {
                            "type": "string",
                            "description": "Recipient address line 1"
                          },
                          "address2": {
                            "type": "string",
                            "description": "Recipient address line 2"
                          },
                          "postcode": {
                            "type": "string",
                            "description": "Recipient postal code"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Recipient phone number"
                          },
                          "email": {
                            "type": "string",
                            "description": "Recipient email address"
                          }
                        }
                      },
                      "product": {
                        "type": "object",
                        "required": [
                          "spu",
                          "size",
                          "color",
                          "qty",
                          "weight",
                          "name",
                          "cnName",
                          "title"
                        ],
                        "properties": {
                          "spu": {
                            "type": "string",
                            "description": "Product SPU"
                          },
                          "size": {
                            "type": "string",
                            "description": "Product size"
                          },
                          "color": {
                            "type": "string",
                            "description": "Product color"
                          },
                          "qty": {
                            "type": "integer",
                            "description": "Product quantity"
                          },
                          "weight": {
                            "type": "number",
                            "format": "float",
                            "description": "Product weight(kg)"
                          },
                          "name": {
                            "type": "string",
                            "description": "Product name"
                          },
                          "cnName": {
                            "type": "string",
                            "description": "Product Chinese name"
                          },
                          "title": {
                            "type": "string",
                            "description": "Product title"
                          },
                          "material": {
                            "type": "string",
                            "description": "Product material"
                          }
                        }
                      },
                      "shipping": {
                        "type": "object",
                        "required": [
                          "channel",
                          "wayBillRelation",
                          "customerProvidedTrackingNo"
                        ],
                        "properties": {
                          "channel": {
                            "type": "string",
                            "description": "Shipping channel code"
                          },
                          "shipMethod": {
                            "type": "string",
                            "description": "Shipping method code"
                          },
                          "wayBillRelation": {
                            "type": "string",
                            "description": "Waybill relation"
                          },
                          "waybillLabelUrl": {
                            "type": "string",
                            "description": "Waybill label URL(if applicable)"
                          },
                          "deliveryLabelLink": {
                            "type": "string",
                            "description": "Delivery label link(if applicable)"
                          },
                          "customerProvidedTrackingNo": {
                            "type": "boolean",
                            "description": "Indicates whether the customer provided a tracking number"
                          }
                        }
                      },
                      "waybillStatus": {
                        "type": "string",
                        "enum": [
                          "CREATED",
                          "PENDING",
                          "COMPLETED",
                          "FAILED",
                          "CANCELLED",
                          "INTERCEPTED"
                        ],
                        "description": "Waybill status, if the order has a waybill"
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "CREATED",
                          "CANCELLED",
                          "COMPLETED",
                          "SPLIT",
                          "PROCESSING",
                          "FAILED",
                          "TRACKING_NOT_FOUND",
                          "TRACKING_PRE_ADVICE_RECEIVED",
                          "TRACKING_PICKED_UP",
                          "TRACKING_IN_TRANSIT",
                          "TRACKING_ARRIVED_DESTINATION_COUNTRY",
                          "TRACKING_IN_CUSTOMS",
                          "TRACKING_CUSTOMS_CLEARED",
                          "TRACKING_ARRIVED_FOR_PICKUP",
                          "TRACKING_OUT_FOR_DELIVERY",
                          "TRACKING_DELIVERY_FAILED",
                          "TRACKING_DELIVERED",
                          "TRACKING_EXCEPTION",
                          "TRACKING_RETURNED",
                          "TRACKING_CANCELLED",
                          "TRACKING_UNKNOWN"
                        ],
                        "description": "Order status"
                      },
                      "failedReason": {
                        "type": "string",
                        "description": "Reason for order failure(if applicable)"
                      },
                      "source": {
                        "type": "string",
                        "enum": [
                          "OPENAPI"
                        ],
                        "description": "Order source"
                      },
                      "remark": {
                        "type": "string",
                        "description": "Order remark"
                      },
                      "customerOrderNo": {
                        "type": "string",
                        "description": "Customer order number"
                      },
                      "createdAt": {
                        "type": "string",
                        "description": "Order creation time(milliseconds since epoch)"
                      },
                      "updatedAt": {
                        "type": "string",
                        "description": "Order last update time(milliseconds since epoch)"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "description": "Response code(e.g., 400, 100017)"
                    },
                    "msg": {
                      "type": "string",
                      "description": "Response message"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/waybills": {
      "get": {
        "summary": "Query Waybills",
        "description": "Query waybill tracking numbers and shipping label URLs by `uniqueRequestId` or `orderNo`. At least one parameter must be provided.",
        "parameters": [
          {
            "name": "uniqueRequestId",
            "in": "query",
            "required": false,
            "description": "The unique request ID used when creating the order. Returns all waybills for that batch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderNo",
            "in": "query",
            "required": false,
            "description": "The customer order number (the `orderNo` passed in each order item when creating the order). Returns waybills associated with that specific order.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of waybill information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueryWaybillResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Neither uniqueRequestId nor orderNo was provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/openapi/trackings": {
      "get": {
        "summary": "Query Trackings",
        "description": "Query tracking information by `uniqueRequestId` or `orderNos`. At least one parameter must be provided.",
        "parameters": [
          {
            "name": "uniqueRequestId",
            "in": "query",
            "required": false,
            "description": "The unique request ID used when creating the order. Returns all waybills for that batch.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "orderNos",
            "in": "query",
            "required": false,
            "description": "The customer order numbers (the `orderNo` passed in each order item when creating the order). comma-separated list of order numbers. Returns trackings associated with those specific orders.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of tracking information",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/QueryTrackingResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Neither uniqueRequestId nor orderNos was provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "QueryTrackingResponse": {
        "type": "object",
        "required": [
          "waybillNo",
          "currentStatus",
          "lastUpdatedAt"
        ],
        "properties": {
          "waybillNo": {
            "type": "string",
            "description": "The waybill number"
          },
          "trackingNumber": {
            "type": "string",
            "description": "Last-mile delivery tracking number"
          },
          "channel": {
            "type": "string",
            "description": "Shipping channel code"
          },
          "currentStatus": {
            "type": "string",
            "enum": [
              "NOT_FOUND",
              "PRE_ADVICE_RECEIVED",
              "PICKED_UP",
              "IN_TRANSIT",
              "ARRIVED_DESTINATION_COUNTRY",
              "IN_CUSTOMS",
              "CUSTOMS_CLEARED",
              "ARRIVED_FOR_PICKUP",
              "OUT_FOR_DELIVERY",
              "DELIVERY_FAILED",
              "DELIVERED",
              "EXCEPTION",
              "RETURNED",
              "CANCELLED",
              "UNKNOWN"
            ],
            "description": "Current tracking status"
          },
          "destinationCountry": {
            "type": "string",
            "description": "Destination country of the shipment"
          },
          "lastMileProvider": {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "Name of the last-mile delivery provider"
              },
              "telephone": {
                "type": "string",
                "description": "Telephone number of the last-mile delivery provider"
              },
              "website": {
                "type": "string",
                "description": "Website of the last-mile delivery provider"
              }
            }
          },
          "trackingEvents": {
            "type": "array",
            "items": {
              "type": "object",
              "required": [
                "eventTime",
                "status",
                "description"
              ],
              "properties": {
                "eventTime": {
                  "type": "string",
                  "format": "datetime",
                  "description": "The time of the tracking event"
                },
                "status": {
                  "type": "string",
                  "enum": [
                    "NOT_FOUND",
                    "PRE_ADVICE_RECEIVED",
                    "PICKED_UP",
                    "IN_TRANSIT",
                    "ARRIVED_DESTINATION_COUNTRY",
                    "IN_CUSTOMS",
                    "CUSTOMS_CLEARED",
                    "ARRIVED_FOR_PICKUP",
                    "OUT_FOR_DELIVERY",
                    "DELIVERY_FAILED",
                    "DELIVERED",
                    "EXCEPTION",
                    "RETURNED",
                    "CANCELLED",
                    "UNKNOWN"
                  ],
                  "description": "The status of the tracking event"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the tracking event"
                },
                "location": {
                  "type": "string",
                  "description": "Location of the tracking event"
                },
                "locationDetail": {
                  "type": "object",
                  "properties": {
                    "city": {
                      "type": "string",
                      "description": "City of the tracking event"
                    },
                    "province": {
                      "type": "string",
                      "description": "Province(or State) of the tracking event"
                    },
                    "country": {
                      "type": "string",
                      "description": "Country of the tracking event"
                    },
                    "postCode": {
                      "type": "string",
                      "description": "Postal code of the tracking event"
                    },
                    "address": {
                      "type": "string",
                      "description": "Address of the tracking event"
                    }
                  }
                }
              }
            }
          },
          "deliveryDays": {
            "type": "integer",
            "description": "Estimated delivery days"
          },
          "podLinks": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "url"
            },
            "description": "Links to proof of delivery documents"
          },
          "lastUpdatedAt": {
            "type": "string",
            "format": "datetime",
            "description": "The last time the tracking information was updated(even if there are no new tracking events)"
          },
          "lastEventTime": {
            "type": "string",
            "format": "datetime",
            "description": "The last time the tracking event was updated"
          }
        }
      },
      "Error": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "ProductResponse": {
        "type": "object",
        "properties": {
          "spuCode": {
            "type": "string",
            "description": "Product code"
          },
          "title": {
            "type": "string",
            "description": "Product title"
          },
          "name": {
            "type": "string",
            "description": "English name"
          },
          "cnName": {
            "type": "string",
            "description": "Chinese name"
          },
          "category": {
            "type": "string",
            "description": "Product category"
          },
          "productImage": {
            "type": "string",
            "description": "Product image URL"
          },
          "sizes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available sizes"
          },
          "colors": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Available colors"
          },
          "variants": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VariantResponse"
            },
            "description": "All SKU variants of this product"
          }
        }
      },
      "VariantResponse": {
        "type": "object",
        "properties": {
          "skuCode": {
            "type": "string",
            "description": "SKU code — use this value in the `sku` field when creating orders"
          },
          "size": {
            "type": "string",
            "description": "Variant size"
          },
          "color": {
            "type": "string",
            "description": "Variant color"
          },
          "weight": {
            "type": "number",
            "description": "Weight in kg"
          }
        }
      },
      "CreateOpenAPIOrderItemProductRequest": {
        "type": "object",
        "required": [
          "quantity"
        ],
        "properties": {
          "sku": {
            "type": "string",
            "maxLength": 100,
            "description": "SKU code from the product catalog. When provided, `spu`, `size`, and `color` are not needed."
          },
          "spu": {
            "type": "string",
            "maxLength": 100,
            "description": "Product (SPU) code. Required if `sku` is not provided."
          },
          "size": {
            "type": "string",
            "maxLength": 100,
            "description": "Size. Optional when `sku` is provided."
          },
          "color": {
            "type": "string",
            "maxLength": 100,
            "description": "Color. Optional when `sku` is provided."
          },
          "quantity": {
            "type": "integer",
            "description": "Order quantity"
          },
          "attributes": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Additional product attributes (e.g. `material`, `packaging`)"
          }
        }
      },
      "CreateOpenAPIOrderItemRecipientInfoRequest": {
        "type": "object",
        "required": [
          "receiverName",
          "country",
          "state",
          "city",
          "postcode",
          "address1",
          "phone"
        ],
        "properties": {
          "receiverName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "country": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2",
            "minLength": 1,
            "maxLength": 150
          },
          "state": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "city": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "postcode": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "address1": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "phone": {
            "type": "string",
            "minLength": 1,
            "maxLength": 150
          },
          "remark": {
            "type": "string",
            "maxLength": 300,
            "nullable": true
          },
          "email": {
            "type": "string",
            "format": "email",
            "nullable": true
          }
        }
      },
      "CreateOpenAPIOrderItemRequest": {
        "type": "object",
        "required": [
          "orderNo",
          "recipient",
          "product"
        ],
        "properties": {
          "orderNo": {
            "type": "string",
            "description": "Customer order number, used later to query waybills",
            "minLength": 6,
            "maxLength": 50
          },
          "imageUrls": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "url"
            },
            "default": []
          },
          "recipient": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemRecipientInfoRequest"
          },
          "product": {
            "$ref": "#/components/schemas/CreateOpenAPIOrderItemProductRequest"
          }
        }
      },
      "CreateOpenAPIOrderRequest": {
        "type": "object",
        "required": [
          "uniqueRequestId",
          "orderItems"
        ],
        "properties": {
          "uniqueRequestId": {
            "type": "string",
            "description": "Unique identifier for this order batch, used for deduplication and later querying waybills"
          },
          "orderItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreateOpenAPIOrderItemRequest"
            }
          }
        }
      },
      "QueryWaybillResponse": {
        "type": "object",
        "properties": {
          "customerOrderNo": {
            "type": "string",
            "description": "The customer order number"
          },
          "waybillNo": {
            "type": "string",
            "nullable": true,
            "description": "Waybill tracking number"
          },
          "trackingNumber": {
            "type": "string",
            "nullable": true,
            "description": "Last-mile delivery tracking number"
          },
          "labelUrl": {
            "type": "string",
            "nullable": true,
            "description": "Shipping label URL"
          },
          "status": {
            "type": "string",
            "description": "Waybill status (CREATED, PENDING, COMPLETED, FAILED, CANCELLED, INTERCEPTED)"
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}